<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:rim="http://www.blackberry.com/ns/widgets"
  id="com.rga.facamera"
  version="0.0.1">
  
  <name>FaCamera</name>
  <description>PhoneGap plugin to support a custom camera overlay with multiple image captures per camera session.</description>
  <author>Vote 539 and others</author>
  
  <info>
    With the addition of multiple image captures per camera session;
    This plugin was written with the tutorial found at:
    http://codrspace.com/vote539/writing-a-custom-camera-plugin-for-phonegap/
  </info>
  
  <engines>
    <engine name="cordova" version=">=3.1.0" />
  </engines>
  
  <platform name="ios">
    
    <!-- config file -->
    <config-file target="config.xml" parent="/*">
      <feature name="FaCamera">
        <param name="ios-package" value="FaCamera" />
      </feature>
    </config-file>
    
	  <js-module src="www/js/faCamera.js" name="FaCamera">
	    <clobbers target="navigator.FaCamera" />
	  </js-module>
  
		
    <!-- core CustomCamera header and source files -->
    <header-file src="src/ios/FaCamera.h" />
    <header-file src="src/ios/FaCameraViewController.h" />
    <header-file src="src/ios/EmojiButton.h" />
    
    <source-file src="src/ios/FaCamera.m" />
    <source-file src="src/ios/FaCameraViewController.m" />
    <source-file src="src/ios/EmojiButton.m" />
    
    
    <resource-file src="src/ios/FaCameraViewController.storyboard" />
    
    <resource-file src="src/ios/flower2.png" />
    <resource-file src="src/ios/flower2@2x.png" />
    <resource-file src="src/ios/flower2@3x.png" />
    <resource-file src="src/ios/Apple Symbols.ttf" />
    <resource-file src="src/ios/ionicons.ttf" />
    
    <framework src="QuartzCore.framework" />
    
  </platform>
  
</plugin>